# Dependencies
node_modules/
package-lock.json

# Database
storage/*.db
storage/*.db-journal
prisma/storage/*.db
prisma/storage/*.db-journal
prisma/storage/*.db-wal
prisma/storage/*.db-shm
!prisma/storage/.gitkeep

# Environment variables
.env
.env.local
.env.local.bak
.env.production
.env*.local

# Logs
*.log
npm-debug.log*
/tmp/
/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel

# Next.js
.next/
out/
build/
dist/

# Fireblocks keys - NE JAMAIS COMMITER
fireblocks-private-key*.pem
fireblocks-csr.pem
fireblocks-csr.csr

# Backups
backups/
